@use "../../styles/colors.scss";
@use "../../styles/device.scss";
@use "../../styles/fonts.scss";

@media screen and (max-width: device.$spMax) {
  .headerContainer {
    color: colors.$textColor--black;
    font-family: "Noto Sans JP", sans-serif;

    .headerContent {
      margin: 0 auto;
      overflow: hidden;
      padding: 0 10px 10px;

      .headerText {
        @include fonts.rem(16);
        font-family: "Roboto", sans-serif;
        margin-top: 10px;
      }
    }
  }
}
@media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
  .headerContainer {
    color: colors.$textColor--black;
    font-family: "Noto Sans JP", sans-serif;

    .headerContent {
      margin: 0 auto;
      overflow: hidden;
      padding: 0 20px 20px;

      .headerText {
        @include fonts.rem(20);
        font-family: "Roboto", sans-serif;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: device.$pcMin) {
  .headerContainer {
    color: colors.$textColor--black;
    font-family: "Noto Sans JP", sans-serif;

    .headerContent {
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: 40px;
      width: 1400px;

      .headerText {
        @include fonts.rem(30);
        font-family: "Roboto", sans-serif;
        margin-top: 40px;
      }
    }
  }
}
