@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/device.scss";

@media screen and (max-width: device.$spMax) {
  .visualContainer {
    background-image: url(../../public/img/factory-4757647_1920.jpg);
    background-position-y: 50%;
    background-size: cover;
    height: 200px;
    position: relative;
    width: 100%;

    &::before {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .visualContent {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      .visualText {
        color: colors.$textColor--white;
        display: table;
        font-family: "Noto Serif JP", serif;
        @include fonts.rem(20);
        margin: 20px auto 0;
        white-space: pre-wrap;
      }
    }
  }
}

@media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
  .visualContainer {
    background-image: url(../../public/img/factory-4757647_1920.jpg);
    background-position-y: 50%;
    background-size: cover;
    height: 350px;
    position: relative;
    width: 100%;

    &::before {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .visualContent {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      .visualText {
        color: colors.$textColor--white;
        display: table;
        font-family: "Noto Serif JP", serif;
        @include fonts.rem(40);
        margin: 20px auto 0;
        white-space: pre-wrap;
      }
    }
  }
}

@media screen and (min-width: device.$pcMin) {
  .visualContainer {
    background-image: url(../../public/img/factory-4757647_1920.jpg);
    background-position-y: 50%;
    background-size: cover;
    height: 567px;
    position: relative;
    width: 100%;

    &::before {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .visualContent {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 1400px;

      .visualText {
        color: colors.$textColor--white;
        display: table;
        font-family: "Noto Serif JP", serif;
        @include fonts.rem(80);
        margin: 40px auto 0;
        white-space: pre-wrap;
      }
    }
  }
}
