@use "../../styles/colors.scss";
@use "../../styles/device.scss";
@use "../../styles/fonts.scss";

.headerContainer {
  width: 100%;

  .headerContent {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}

@media screen and (max-width: device.$spMax) {
  .headerContainer {
    .headerContent {
      margin-top: 10px;
      padding: 0 10px 10px;
    }
  }
}

@media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
  .headerContainer {
    .headerContent {
      margin-top: 20px;
      padding: 0 20px 20px;
    }
  }
}

@media screen and (min-width: device.$pcMin) {
  .headerContainer {
    .headerContent {
      margin: 40px auto 0;
      padding-bottom: 40px;
      width: 1400px;

      .shareWrapper {
        margin-top: 4px;
      }
    }
  }
}
