@use "../../styles/colors.scss";
@use "../../styles/device.scss";
@use "../../styles/fonts.scss";

.footerContainer {
  background-color: black;
  width: 100%;
  .footerContent {
    overflow: hidden;

    .footerCreditParagraph {
      color: colors.$textColor--white;
      font-family: "Noto Sans JP", sans-serif;
      .footerCreditAnchor {
        color: colors.$textColor--white;
      }
    }
  }
}

@media screen and (max-width: device.$spMax) {
  .footerContainer {
    .footerContent {
      padding: 0 10px 10px;

      .footerHeadingWrapper {
        margin-top: 10px;
      }
      .footerCreditParagraph {
        @include fonts.rem(12);
      }
    }
  }
}

@media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
  .footerContainer {
    .footerContent {
      padding: 0 20px 20px;

      .footerHeadingWrapper {
        margin-top: 20px;
      }
      .footerCreditParagraph {
        @include fonts.rem(14);
      }
    }
  }
}

@media screen and (min-width: device.$pcMin) {
  .footerContainer {
    .footerContent {
      margin: 0 auto;
      padding-bottom: 40px;
      width: 1400px;

      .footerHeadingWrapper {
        margin-top: 40px;
      }

      .footerCreditParagraph {
        @include fonts.rem(16);
      }
    }
  }
}
