@use "../../styles/colors.scss";
@use "../../styles/device.scss";
@use "../../styles/fonts.scss";

.sectionListCautionGroup {
  list-style-type: none;
  .sectionListCautionMember {
    color: colors.$textColor--black;
    font-family: "Noto Sans JP", sans-serif;
    position: relative;
    &::before {
      content: "※";
      position: absolute;
    }
  }
}

@media screen and (max-width: device.$spMax) {
  .sectionListCautionGroup {
    .sectionListCautionMember {
      @include fonts.rem(14);

      padding-left: 16px;

      &::before {
        margin-left: -16px;
      }
      & + .sectionListCautionMember {
        margin-top: 2px;
      }
    }
  }
}

@media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
  .sectionListCautionGroup {
    .sectionListCautionMember {
      @include fonts.rem(16);
      padding-left: 16px;

      &::before {
        margin-left: -16px;
      }
      & + .sectionListCautionMember {
        margin-top: 3px;
      }
    }
  }
}

@media screen and (min-width: device.$pcMin) {
  .sectionListCautionGroup {
    .sectionListCautionMember {
      @include fonts.rem(16);
      padding-left: 16px;

      &::before {
        margin-left: -16px;
      }
      & + .sectionListCautionMember {
        margin-top: 4px;
      }
    }
  }
}
