@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/device.scss";

.visualContainer {
  background-image: url(../../public/img/factory-4757647_1920.jpg);
  background-position-y: 50%;
  background-size: cover;
  position: relative;
  width: 100%;

  &::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .visualContent {
    overflow: hidden;
    position: relative;
    .visualHeadingWrapper {
      display: table;
    }
  }
}

@media screen and (max-width: device.$spMax) {
  .visualContainer {
    height: 200px;

    .visualContent {
      width: 100%;

      .visualHeadingWrapper {
        margin: 20px auto 0;
      }
    }
  }
}

@media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
  .visualContainer {
    height: 350px;

    .visualContent {
      width: 100%;

      .visualHeadingWrapper {
        margin: 20px auto 0;
      }
    }
  }
}

@media screen and (min-width: device.$pcMin) {
  .visualContainer {
    height: 567px;

    .visualContent {
      margin: 0 auto;
      width: 1400px;

      .visualHeadingWrapper {
        margin: 40px auto 0;
      }
    }
  }
}
