@use "../../styles/colors.scss";
@use "../../styles/device.scss";
@use "../../styles/fonts.scss";

.visualHeading {
  color: colors.$textColor--white;
  display: table;
  font-family: "Noto Serif JP", serif;
  white-space: pre-wrap;
  @media screen and (max-width: device.$spMax) {
    @include fonts.rem(20);
  }

  @media screen and (min-width: device.$tabMin) and (max-width: device.$tabMax) {
    @include fonts.rem(40);
  }
  @media screen and (min-width: device.$pcMin) {
    @include fonts.rem(80);
  }
}
